<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <div id="logo-nav">
                <img src="/img/barrios-cerrados-logo-nuevo.png" alt="Logo" style="width: 60px;">
            </div>            
        </a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent" th:if="${session.usuariosession == null}">
            <ul class="navbar-nav ms-auto me-4 mb-1 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link navbarDropdown"  href="/registrar" role="button" aria-expanded="false" style="color: #f5f5dc;">Registro</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navbarDropdown" href="/login" role="button" aria-expanded="false" style="color: #f5f5dc;">Login</a>
                </li>
            </ul>
        </div>

        <div class="collapse navbar-collapse" id="navbarSupportedContent" th:if="${session.usuariosession != null}">
            <ul class="navbar-nav ms-auto me-4 mb-1 mb-lg-0">
                <form class="d-flex" role="search" style="display: flex; align-items: center;" th:action="@{/usuario/expositor}" method="get" th:if="${navBlock == 'buscadores'}">
                    <div type="hidden" th:if="${rolSession == 'CLIENTE'}">
                        <input type="hidden" th:value="'CLIENTE'" name="rolSession">
                    </div>

                    <div type="hidden" th:if="${rolSession == 'PROVEEDOR'}">
                        <input type="hidden" th:value="'PROVEEDOR'" name="rolSession">
                    </div>
                    
                    <button id="filtro" type="button" class="btn btn-secondary" style="margin-right: 5px;" onclick="abrirFiltroBuscador()">Filtro</button>
                    <input class="form-control me-2" type="search" name="nombreUsuario" placeholder="Nombre Completo" th:value="${nombreUsuario}">
                    <button class="btn btn-outline-success" type="submit" style="display:flex; flex-direction:row;">
                        <i class="fas fa-search icono-lupa"></i>
                    </button>
                </form>
                <!-- ! Filtro -->
                <div id="detalles-filtro" class="list-group" style="height: 0; overflow: hidden;" th:if="${navBlock == 'buscadores'}">
                    <form id="Formulario-filtro" role="search" th:action="@{/usuario/expositor}" method="get">
                        
                        <div class="form-group list-group-item">
                            <label for="barrioChacras">Seleccione Barrio:</label>
                            <select class="form-control border-dark bg-light text-dark" id="barrio" name="barrio">
                                <option value="" disabled selected>Seleccione un barrio</option>
                                <option class="opcion" th:each="barrio : ${barrios}"
                                    th:value="${barrio}" th:text="${barrio}">
                                    <span></span>
                                </option>
                            </select>
                        </div>
                    
                        <div class="list-group-item" th:if="${rolSession == 'CLIENTE'}">
                            <input type="hidden" th:value="'CLIENTE'" name="rolSession">
                    
                            <label for="idServicio">Seleccione Servicio:</label>
                            <select class="form-control" name="idServicio" id="idServicio">
                                <option value="" disabled selected>Seleccione un servicio</option>
                                <optgroup label="Servicios de limpieza">
                                    <option th:each="servicio : ${limpieza}" th:value="${servicio.id}" th:text="${servicio.nombre}"></option>
                                </optgroup>
                                <optgroup label="Servicios de mantenimiento y reparaciones">
                                    <option th:each="servicio : ${mantenimiento}" th:value="${servicio.id}" th:text="${servicio.nombre}"></option>
                                </optgroup>
                                <optgroup label="Servicios de seguridad">
                                    <option class="opcion" th:each="servicio : ${seguridad}" th:value="${servicio.id}" th:text="${servicio.nombre}"></option>
                                </optgroup>
                                <optgroup label="Servicios de tecnología y conectividad">
                                    <option class="opcion" th:each="servicio : ${tecnologia}" th:value="${servicio.id}" th:text="${servicio.nombre}"></option>
                                </optgroup>
                                <optgroup label="Servicios de cuidado personal y bienestar">
                                    <option class="opcion" th:each="servicio : ${cuidado}" th:value="${servicio.id}" th:text="${servicio.nombre}"></option>
                                </optgroup>
                                <optgroup label="Servicios de entrega y logística">
                                    <option class="opcion" th:each="servicio : ${logistica}" th:value="${servicio.id}" th:text="${servicio.nombre}"></option>
                                </optgroup>
                            </select>
                            <br>

                            <label for="nombreUsuario">Busque por el nombre al Proveedor:</label>
                            <input type="text" class="form-control" name="nombreUsuario" id="nombreUsuario" placeholder="Nombre Completo" th:value="${nombreUsuario}">
                            <br>
                        </div>

                        <div class="list-group-item" th:if="${rolSession == 'PROVEEDOR'}">

                            <input type="hidden" th:value="'PROVEEDOR'" name="rolSession">

                            <label for="idPedido">¿Qué Pedidos tiene Vigente?</label>
                            <select class="form-control" name="idPedido" id="idPedido">
                                <option value="" disabled selected>Seleccione un pedido</option>

                                <optgroup label="Pedidos Vigentes">
                                    <option class="opcion" th:each="pedido : ${pedidos}"
                                        th:value="${pedido.id}"
                                        th:text="${pedido.asunto} + ': ' + ${pedido.cliente.usuario.nombre}  + ' ' + ${pedido.cliente.usuario.apellido}">
                                        <span></span>
                                    </option>
                                </optgroup>
                            </select>
                            <br>

                            <label for="nombreUsuario">Busque por el nombre al Cliente:</label>
                            <input type="text" class="form-control" name="nombreUsuario" placeholder="Nombre Completo" th:value="${nombreUsuario}">
                            <br>
                        </div>
                            
                        <button id="buscar" class="btn btnFiltro btn-primary" type="submit">Buscar</button>
                    
                    </form>
                </div>

                <li class="nav-item">
                    <a id="mensajes" class="nav-link" onclick="abrirNotificacionMensajes()">
                        <div class="notification-bell">
                            <img src="/img/mensaje-icono.png"
                            style="border-radius: 10px; width: 30px; height:30px; margin-left:5px; margin-right:5px;" alt="">
                            <span class="notification-count" th:text="${mensajeNoVisto}"></span>
                        </div>
                    </a>
                    <div id="noti-mensajes">
                        <ul class="list-group" th:each="mensaje : ${mensajes}">
                            <li class="list-group-item" style="border: 1px solid whitesmoke;" th:each="mj : ${mjs}">
                                <p style="font-size: 14px;" th:text="${mj}"></p>
                                <a class="nav-link navbarDropdown" th:href="@{/usuario/verMensaje/__${mensaje.id}__}">
                                    <button class="btn btnFiltro btn-primary" type="button">Ver detalle</button>
                                </a>
                            </li>
                            <br>                            
                            <a class="nav-link navbarDropdown" th:href="@{/mensajeria/bandejaMensajes}">
                                <button class="btn btnFiltro btn-primary" type="button">Ver todas</button>
                            </a>
                        </ul>
                    </div>
                </li>

                <li class="nav-item">
                    <a id="campana" class="nav-link" onclick="abrirCampanaNotificaciones()">
                        <div class="notification-bell">
                            <img src="/img/campana.jpg" style="border-radius: 10px; width: 30px; height:30px;" alt="">
                            <span class="notification-count" th:text="${notificacionNoVisto}"></span>
                        </div>
                    </a>

                    <div id="notification">
                        <ul class="list-group" th:each="notificacion : ${notificaciones}">                           
                            <li class="list-group-item" style="border: 1px solid whitesmoke;" th:each="nota : ${notas}">
                                <p style="font-size: 14px;" th:text="${nota}"></p>
                                <a class="nav-link navbarDropdown" th:href="@{/notificacion/verNotificacion/__${notificacion.id}__}">
                                    <button class="btn btnFiltro btn-primary" type="button">Ver detalle</button>                                    
                                </a>
                            </li>
                            <br>
                            <a class="nav-link navbarDropdown" th:href="@{/notificacion/bandejaNotificaciones/__${rolSession}__}">
                                <button class="btn btnFiltro btn-primary" type="button">Ver todas</button>                                
                            </a>                            
                        </ul>
                    </div>
                </li>

                <li class="nav-item">
                    <a id="usuario" class="nav-link active" style="display: flex; flex-direction:row; align-items:center;" onclick="abrirUsuario()">
                        <p th:text="${session.usuariosession.nombre}" style="display: flex;align-items:center; color: #f5f5dc; margin:0;">
                            
                        </p>
                        <img id="imagen_usuario" src="/img/icono-usuario.jpg" alt="" style="border-radius: 20px; width: 30px; height:30px; margin-left:7px;">
                    </a>
                </li>

                <div id="detalles-usuario">
                    <ul class="list-group">
                        <li class="list-group-item"><button type="button" class="btn btn-info">Ver más Info</button></li>
                        <li class="list-group-item">
                            <a class="nav-link navbarDropdown"  href="/perfil" role="button" aria-expanded="false">
                                <button type="button" class="btn btn-info">Editar info Personal</button>
                            </a>
                        </li>
                        <li class="list-group-item">                      
                            <button type="button" class="btn btn-danger">
                                <a class="nav-link navbarDropdown" th:href="@{/logout}">Cerrar Sesión</a>
                            </button>                        
                        </li>
                    </ul>
                </div>              
            </ul>
        </div>
    </div>
</nav>